@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* import manrope font */

:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 !important;
  z-index: 0;
}

.bg-norse{
  background-image: url( '/norse-bright.svg' );
  background-repeat: repeat;
  background-size: 40%;
  background-color: rgba(0, 0, 0, 0.9); 
  background-blend-mode: darken; 
}

.bg-norse::after {
  content: '';
  position: absolute;
  top: -25vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(134, 108, 241, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
  pointer-events: none;
}
/* 
@-moz-keyframes flashlight {
  0%, 9% {
    opacity: 0;
    clip-path: circle(100px at 45% 10%);
  }
  10%, 15%, 85% {
    opacity: 1;
  }
  50% {
    clip-path: circle(100px at 60% 20%);
  }
  54%, 100% {
    clip-path: circle(100px at 55% 92%);
  }
  88%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes flashlight {
  0%, 9% {
    opacity: 0;
    clip-path: circle(100px at 45% 10%);
  }
  10%, 15%, 85% {
    opacity: 1;
  }
  50% {
    clip-path: circle(100px at 60% 20%);
  }
  54%, 100% {
    clip-path: circle(100px at 55% 92%);
  }
  88%, 100% {
    opacity: 0;
  }
}
@-o-keyframes flashlight {
  0%, 9% {
    opacity: 0;
    clip-path: circle(100px at 45% 10%);
  }
  10%, 15%, 85% {
    opacity: 1;
  }
  50% {
    clip-path: circle(100px at 60% 20%);
  }
  54%, 100% {
    clip-path: circle(100px at 55% 92%);
  }
  88%, 100% {
    opacity: 0;
  }
}
@keyframes flashlight {
  0%, 9% {
    opacity: 0;
    clip-path: circle(100px at 45% 10%);
  }
  10%, 15%, 85% {
    opacity: 1;
  }
  50% {
    clip-path: circle(100px at 60% 20%);
  }
  54%, 100% {
    clip-path: circle(100px at 55% 92%);
  }
  88%, 100% {
    opacity: 0;
  }
} */


.corner-blur {
  background-image: url('/BG GLOW.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.bitcoin-security{
  background-image: url('/bitcoin-security.png'), url('/BG GLOW.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 38%, 100%;
}

.lighning-illustration{
  background-image: url('/Lightning-Illustration.png'), url('/BG GLOW.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%, 100%;
}

.low-fees{
  background-image: url('/Low Cost Illustration.png'), url('/BG GLOW.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 20%, 100%;
}

.non-custodial{
  background-image: url('/Non-Custodial Illustration.png'), url('/BG GLOW.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 38%, 100%;
}

.p2p{
  background-image: url('/P2P Illustration.png'), url('/BG GLOW.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 30%, 100%;
}


/* mobile version sizes */
@media (max-width: 768px) {

  .bitcoin-security{
    background-size: 50%, 100%;
  }

  .lighning-illustration{
    background-size: 60%, 100%;
  }

  .low-fees{
    background-size: 50%, 100%;
  }

  .non-custodial{
    background-size: 50%, 100%;
  }

  .p2p{
    background-size: 50%, 100%;
  }
}


.waitlist-success {
  transform: scale(0);
  transition: transform ease-out 0.5s;
}

.waitlist-success.is-success {
  transform: scale(1);
}